.logo{ background: url(../images/logo.svg) no-repeat center center; display: block; height: 71px; margin: auto; background-size: 100%; width: 140px; }
#sidebar-menu li a span.icon{ margin-right: 5px;}
#sidebar-menu li a span.icon+span{ position: relative; top:2px;}

.nav-tabs-custom{ display: block; text-align: center}
.nav-tabs-custom li{ display: inline-block}
.nav-tabs-custom li a{ font-size: 16px;}

.routePage{}
.routePage .routeInfo{ padding-bottom: 15px;}
.routePage .routeTitle{ float: left; width: 70%; }
.routePage .routeInfo h5{ font-size: 16px;}
.routePage .routeTitle h5 .icon{ display: inline-block; margin-right: 7.5px; position: relative; top: -2px;}
.routePage .docsRoute{ float: left; width: 15%;}
.routePage .actionRoute{ float: left; width: 15%;}
.routePage .routeTitle .vehicle{ width: 18.5%; float: left; margin-right: 10px; }
.routePage .routeTitle .dvcr{ width: 11.3%; float: left; margin-right: 10px; }
.routePage .routeTitle .owner{ width: 23.3%; float: left; margin-right: 10px;  }
.routePage .routeTitle .location{ width: 20.7%; float: left; margin-right: 10px;  }
.routePage .routeTitle .packages{ width: 19.5%; float: left; }
.routePage .routeTitle .owner .btn{ padding-left: 40px;}
.routePage .routeInfo .btn .short{ width: 25px; height: 25px; display: inline-block; border-radius: 100px; font-size: 10px; text-transform: uppercase; text-align: center; line-height: 25px; }
.routePage .routeTitle .owner .short{ left: 10px; top: 5px; position: absolute}
.routePage .routeInfo .btn::after, .dropdown .btn::after { position: absolute; top: 14px; margin-left: .555em; border: 0px;
    background: url(../images/svg/dropdown-arrow.svg) no-repeat; background-size: auto;  width: 10px; height: 6px; display: inline-block; background-size: 100%; right: 10px; top: 50%; margin-top: -4px;
}
.customSelect{ position: relative;}
.customSelect{ background: url(../images/svg/dropdown-arrow.svg) no-repeat; background-position: calc(100% - 10px) center; background-size: 10px;
    
}
select.customSelect{
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
}
select.customSelect::-ms-expand {
    display: none;
  }
.routePage .bottom .docsRoute{ padding-left: 7px; line-height: 36px;}
.routePage .docsRoute a.file{ font-size: 14px;}
.routePage .docsRoute .icon{ width:15px; display: inline-block; margin-right: 5px; height: 18px; position: relative; top:4px;} 
.routePage .docsRoute .icon.pdf{ background: url(../images/svg/pdf-icon.svg) no-repeat;}
.routePage .bottom .actionRoute{ padding-left: 11px; padding-top: 0px;}
.routePage .bottom .actionRoute a{ display: inline-block; margin-right: 10px; position: relative; top: 6px;}
.routePage .bottom .error-txt{ line-height: 36px; background: #FFF7E1; border-radius: 4px 0 0 4px; padding: 0 10px;}
.routePage .bottom .docsRoute.error{ background: #FFF2F4; padding-left: 15px; border-radius: 0 4px 4px 0}
.routePage .bottom .error-txt .icon{ display: inline-block; margin-right: 5px;}
.routePage .docsRoute.error a.file{ color: inherit}
.routePage .bottom .actionRoute .btn{ top: 0px; }
.routePage .bottom .actionRoute .btn .icon{ display: inline-block; margin-right: 5px; }

.dropdown{}
.dropdown .dropdown-menu{ width: 100%;}


