/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 19, 2020, 7:45:19 PM
    Author     : ralph
*/
 .big-checkbox 
 {
     width: 40px; 
     height: 40px;
 }
  .btn-circle.btn-sm { 
    width: 30px; 
    height: 30px; 
    padding: 6px 0px; 
    border-radius: 15px; 
    font-size: 8px; 
    text-align: center; 
} 
.btn-circle.btn-md { 
    width: 60px; 
    height: 60px; 
    padding: 7px 10px; 
    border: 6px solid;
    border-radius: 30px; 
    font-size: 16px; 
    text-align: center; 
} 
.btn-circle.btn-xl { 
    width: 70px; 
    height: 70px; 
    padding: 10px 16px; 
    border-radius: 35px; 
    font-size: 12px; 
    text-align: center; 
} 
.btn-critical
{
    border-color: #ef5350 !important;
    background-color: #fff !important;
}
.btn-high
{
    border-color: #ffa726 !important;
    background-color: #fff !important;
}
.btn-medium
{
    border-color: #ffee58 !important;
    background-color: #fff !important;
}
.btn-low
{
    border-color: #64b5f6 !important;
    background-color: #fff !important;
}

.critical
{
    color: #ef5350 !important;

}
.high
{
    color: #ffa726 !important;
}
.medium
{
    color: #ffee58 !important;
}
.low
{
    color: #64b5f6 !important;
}
.unknown
{
    color: #c0c0c0 !important;
}