/*================================================================================
	Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
.font-small-1
{
    font-size: .7rem !important;
}

.font-small-2
{
    font-size: .8rem !important;
}

.font-small-3
{
    font-size: .9rem !important;
}

.font-medium-1
{
    font-size: 1.1rem !important;
}

.font-medium-2
{
    font-size: 1.2rem !important;
}

.font-medium-3
{
    font-size: 1.3rem !important;
}

.font-medium-4
{
    font-size: 1.4rem !important;
}

.font-medium-5
{
    font-size: 1.5rem !important;
}

.font-large-1
{
    font-size: 2rem !important;
}

.font-large-2
{
    font-size: 3rem !important;
}

.font-large-3
{
    font-size: 4rem !important;
}

.font-large-4
{
    font-size: 5rem !important;
}

.font-large-5
{
    font-size: 6rem !important;
}

.text-bold-300
{
    font-weight: 300;
}

.text-bold-400
{
    font-weight: 400;
}

.text-bold-500
{
    font-weight: 500;
}

.text-bold-600
{
    font-weight: 600;
}

.text-bold-700
{
    font-weight: 700;
}

.text-italic
{
    font-style: italic;
}

.text-highlight
{
    padding: 4px 6px;
}
.ui-helper-hidden-accessible{
    display:none !important;
}
.move-left {
    width: auto;
    box-shadow: none;
}  
.form-control {
        font-size: inherit;
        font-family: inherit;
}
button.rightSidePanelCloser, button.rightSidePanelCloser1, button.rightSidePanelCloser2 {
        position: relative !important; 
        right: 0px !important; 
        top: 0px !important;
}    
.input-group-text a {
    line-height: 0px !important;
}

.modal.preview {
    width: auto !important;
  /*position: relative !important;*/
}

.modal-dialog.preview {
  position: fixed;
  width: auto;
  margin: 0;
  padding: 10px;
  max-width: 50vw;
}

table.dataTable thead .sorting:before,table.dataTable thead .sorting:after,table.dataTable thead .sorting_asc:before,table.dataTable thead .sorting_asc:after,table.dataTable thead .sorting_desc:before,table.dataTable thead .sorting_desc:after,table.dataTable thead .sorting_asc_disabled:before,table.dataTable thead .sorting_asc_disabled:after,table.dataTable thead .sorting_desc_disabled:before,table.dataTable thead .sorting_desc_disabled:after
{
  bottom:0em !important
}

.critical
{
    background-color: #ef5350 !important;
}
.high
{
    background-color: #ffa726 !important;
}
.medium
{
    background-color: #ffee58 !important;
}
.low
{
    background-color: #64b5f6 !important;
}
.unknown
{
    background-color: #c0c0c0 !important;
}
.state-unknown
{
    background-color: #000000 !important;
}

.state-new {
    color: #212529 !important;
    background-color: #DEC3E1 !important;
}
.state-assigned {
    color: #212529 !important;
    background-color: #FAF194 !important;
}
.state-wip {
    background-color: #5CC3B4 !important;
}
.state-pending {
    background-color: #94B2CF !important;
}
.state-resolved {
    background-color: #4F4F4F !important;
}
.state-closed {
    background-color: #000000 !important;
}
.state-complete {
    background-color: #5BC1B5 !important;
}
.state-scheduled {
    background-color: #000000 !important;
}
.state-on-hold {
    background-color: #000000 !important;
}
.state-approved {
    background-color: #000000 !important;
}
.state-draft {
    background-color: #000000 !important;
}
/* overlay with loader */
.overlay {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 50% auto;
}
.loader-top {
    margin: 0px auto !important;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* end of overlay with loader */

table.custom-sort-table
{
    table-layout: fixed;
}
table.custom-sort-table th, table.custom-sort-table td
{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
table.custom-sort-table form
{
    white-space: normal !important;
}
.dataTables_processing {
    top: 50px !important;
}
.content-page>.content {
    /*padding: 0px !important;*/
}
.page-content-wrapper {
    /*padding: 15px !important;*/
}
.sub-side-menu {
    line-height: 1.3 !important;
}
.category div.catalog-category p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.category div.catalog-category h5 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.category div.catalog-item p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
    min-height: 84px;
}
.truncate4 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.category div.catalog-item h5 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    min-height: 42px;
}
.catalog-item {
    min-height: 177px !important;
}

.required-question :first-child:before {
  content: "*";
}

.required-question p {
  margin-bottom: 0px;
}

/*table.custom-sort-table thead th:last-child {
    text-align: center;
}
table.custom-sort-table tbody td:last-child {
    text-align: center;
}*/

@media (max-width: 1024px) {
    .content-page {
        margin-left: 0 !important;
    }
}
@media (min-width: 1200px) {
    .row-cols-xl-3>* {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 1480px) {

    .row-cols-xl-3 > * {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    .row-cols-xxl-4 .field-title {
        padding-left: 7.5px;
        padding-right: 7.5px;
    }

}
@media (min-width: 1820px) {
    .row-cols-xxl-4 > * {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
        padding-right: 7.5px;
        padding-left: 7.5px;
    }
    .row-cols-xxl-4 .field-title {
        padding-left: 7.5px;
        padding-right: 7.5px;
    }


}

.w-100 {
    max-width: 100% !important;
    flex: 0 0 100% !important;
}

[v-cloak] {
  display:none;
}