<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>vue-advanced-chat</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
  </head>
  <body>
<script type="text/JavaScript">
//  var showChat = true
//  var currentUserId = 24
//  var objectType = "project"
//  var objectId = 12
//  var parentObjectType = ""
//  var parentObjectId = 0
//  var serviceDeskEndpoint = "http://localhost:8084/2019DeskSultan"
</script>
    <noscript>
      <strong>We're sorry but vue-advanced-chat doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <chat-app 
      current-user-id="1" 
      show-chat = true
      object-type = "project"
      object-id = 12
      parent-object-type = ""
      parent-object-id = 0
      service-desk-endpoint = "http://localhost:8084/2019DeskSultan"
      no-focus-textarea = "true"
    ></chat-app>
    <!-- <div id="chat_app"></div> -->
    <!-- built files will be auto injected -->
<script src='https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js'></script>
  </body>
</html>
