<template>
	<div class="window-container" :class="{ 'window-mobile': isDevice }">
		<form v-if="addNewRoom" @submit.prevent="createRoom">
			<input v-model="addRoomUsername" type="text" placeholder="Add username" />
			<button type="submit" :disabled="disableForm || !addRoomUsername">
				Create Room
			</button>
			<button class="button-cancel" @click="addNewRoom = false">
				Cancel
			</button>
		</form>

		<form v-if="inviteRoomId" @submit.prevent="addRoomUser">
			<input v-model="invitedUsername" type="text" placeholder="Add username" />
			<button type="submit" :disabled="disableForm || !invitedUsername">
				Add User
			</button>
			<button class="button-cancel" @click="inviteRoomId = null">
				Cancel
			</button>
		</form>

		<form v-if="removeRoomId" @submit.prevent="deleteRoomUser">
			<select v-model="removeUserId">
				<option default value="">
					Select User
				</option>
				<option v-for="user in removeUsers" :key="user._id" :value="user._id">
					{{ user.username }}
				</option>
			</select>
			<button type="submit" :disabled="disableForm || !removeUserId">
				Remove User
			</button>
			<button class="button-cancel" @click="removeRoomId = null">
				Cancel
			</button>
		</form>

		<chat-window
			:key="`[${objectType},${objectId},${parentObjectType},${parentObjectId}]`"
			:height="screenHeight"
			:theme="theme"
			:styles="styles"
			:current-user-id="currentUserId"
			:room-id="roomId"
			:rooms="loadedRooms"
			:loading-rooms="loadingRooms"
			:messages="messages"
			:messages-loaded="messagesLoaded"
			:rooms-loaded="roomsLoaded"
			:room-actions="roomActions"
			:menu-actions="menuActions"
			:room-message="roomMessage"
			:single-room="singleRoom"
			:no-focus-textarea="noFocusTextarea"
			@fetch-more-rooms="fetchMoreRooms"
			@fetch-messages="fetchMessages"
			@send-message="sendMessage"
			@edit-message="editMessage"
			@delete-message="deleteMessage"
			@open-file="openFile"
			@open-user-tag="openUserTag"
			@add-room="addRoom"
			@room-action-handler="menuActionHandler"
			@menu-action-handler="menuActionHandler"
			@send-message-reaction="sendMessageReaction"
			@typing-message="typingMessage"
			@toggle-rooms-list="$emit('show-demo-options', $event.opened)"
		>
<!-- 			<template #room-header-info="{ room, typingUsers, userStatus }">
			  {{ room.roomName }} - {{ userStatus }}
			</template> -->
<!-- 			<template #message="{ message }">
			  {{message._id}} - {{roomUsers.length}} 
			</template>
 -->
		</chat-window>
	</div>
</template>

<script>
import { parseTimestamp, isSameDay } from '@/utils/dates'
import axios from 'axios';
// import {
// 	firebase,
// 	roomsRef,
// 	messagesRef,
// 	usersRef,
// 	filesRef,
// 	deleteDbField
// } from '@/firestore'
import ChatWindow from '../../repos/vue-advanced-chat/src/lib/ChatWindow'
// import ChatWindow, { Rooms } from 'vue-advanced-chat'
// import ChatWindow from 'vue-advanced-chat'
import '../../repos/vue-advanced-chat/dist/vue-advanced-chat.css'
// import ChatWindow from './../../dist/vue-advanced-chat.umd.min.js'

export default {
	components: {
		ChatWindow
	},

	props: {
		currentUserId: { type: Number, required: true },
		objectType: { type: String, required: true },
		objectId: { type: Number, required: true },
		parentObjectType: { type: String, required: true },
		parentObjectId: { type: Number, required: true },
		serviceDeskEndpoint: { type: String, required: true },
		theme: { type: String, required: true },
		isDevice: { type: Boolean, required: true },
		noFocusTextarea: { type: Boolean, default: false },
	},

	emits: ['show-demo-options'],

	data() {
		return {
			roomsPerPage: 15,
			rooms: [],
			roomId: '',
			startRooms: null,
			endRooms: null,
			roomsLoaded: false,
			loadingRooms: true,
			allUsers: [],
			loadingLastMessageByRoom: 0,
			roomsLoadedCount: false,
			selectedRoom: null,
			messagesPerPage: 20,
			messages: [],
			messagesLoaded: false,
			roomMessage: '',
			startMessages: null,
			endMessages: null,
			roomsListeners: [],
			listeners: [],
			typingMessageCache: '',
			disableForm: false,
			addNewRoom: null,
			addRoomUsername: '',
			inviteRoomId: null,
			invitedUsername: '',
			removeRoomId: null,
			removeUserId: '',
			removeUsers: [],
			roomActions: [
				// { name: 'inviteUser', title: 'Invite User' },
				// { name: 'removeUser', title: 'Remove User' },
				// { name: 'deleteRoom', title: 'Delete Room' }
			],
			menuActions: [
				// { name: 'inviteUser', title: 'Invite User' },
				// { name: 'removeUser', title: 'Remove User' },
				// { name: 'deleteRoom', title: 'Delete Room' }
			],
			socket: null,
			// ws://localhost:8084/2019DeskSultan/wsendpoint
			styles: { container: { borderRadius: '4px' } },
			singleRoom: true,

			// ,dbRequestCount: 0
		}
	},

	computed: {
		loadedRooms() {
			return this.rooms.slice(0, this.roomsLoadedCount)
		},
		screenHeight() {
			return this.isDevice ? window.innerHeight + 'px' : 'calc(100vh - ' + document.querySelector('chat-app').offsetTop + 'px)'
		}
	},
	// watch: {
	// 	objectType() {
	// 		this.roomId = this.objectType + "/" + this.objectId + "/"+ this.parentObjectType + "/" + this.parentObjectId
	// 	},
	// 	objectId() {
	// 		this.roomId = this.objectType + "/" + this.objectId + "/"+ this.parentObjectType + "/" + this.parentObjectId
	// 	},
	// 	parentObjectType() {
	// 		this.roomId = this.objectType + "/" + this.objectId + "/"+ this.parentObjectType + "/" + this.parentObjectId
	// 	},
	// 	parentObjectId() {
	// 		this.roomId = this.objectType + "/" + this.objectId + "/"+ this.parentObjectType + "/" + this.parentObjectId
	// 	},

	// },

	mounted() {
		// this.$root.$connect() // WebSockets connection
		
		// this.$root.$options.sockets.onmessage = (data) => console.log("WebSockets message", data)
		// this.$root.$options.sockets.onclose = (data) => console.log("WebSockets closed", data)
		// this.$root.$options.sockets.onopen = (data) => console.log("WebSockets opened", data)
		this.fetchRooms()
		// this.updateUserOnlineStatus()

		this.socket = new WebSocket(this.serviceDeskEndpoint.replace("http","ws") + "/wsendpoint");
		var self = this
		this.socket.onopen = function (event) {
			// console.log("WebSocket opened");
		};
		this.socket.onclose = function (event) {
			// console.log("WebSocket closed", event.data);
		};

		this.socket.onerror = function (event) {
			console.log("WebSocket error", event.data);
		};

		this.socket.onmessage = function (event) {
		  	// console.log("WebSocket message received: ", event.data);
		  	var msg = JSON.parse(event.data);
		  	if (msg.toTag)
		  	{
				let url = new URL(self.serviceDeskEndpoint + "/ajax_lookup_chat_messages")
				url.searchParams.set('object_type', self.objectType)
				url.searchParams.set('object_id', self.objectId)
				url.searchParams.set('parent_object_type', self.parentObjectType)
				url.searchParams.set('parent_object_id', self.parentObjectId)
				url.searchParams.set('start', null)

				axios.get(url, {withCredentials: true}).then(response => {
			// axios.get('/messages.json').then(response => {
					const messages = response.data
					// console.log(messages)
					self.listenMessages(messages, self.rooms[0])
				})
		  	}
		}
	},

	methods: {
		resetRooms() {
			this.loadingRooms = true
			this.loadingLastMessageByRoom = 0
			this.roomsLoadedCount = 0
			this.rooms = []
			this.roomsLoaded = true
			this.startRooms = null
			this.endRooms = null
			this.roomsListeners.forEach(listener => listener())
			this.roomsListeners = []
			this.resetMessages()
		},

		resetMessages() {
			this.messages = []
			this.messagesLoaded = false
			this.startMessages = null
			this.endMessages = null
			this.listeners.forEach(listener => listener())
			this.listeners = []
		},

		fetchRooms() {
			// console.log("fetchRooms emitted");

			this.resetRooms()
			this.fetchMoreRooms()
		},

		async fetchMoreRooms() {
			if (this.endRooms && !this.startRooms) return (this.roomsLoaded = true)

			// let query = roomsRef
			// 	.where('users', 'array-contains', this.currentUserId)
			// 	.orderBy('lastUpdated', 'desc')
			// 	.limit(this.roomsPerPage)

			// if (this.startRooms) query = query.startAfter(this.startRooms)

			// const rooms = await query.get()
			// const rooms = await axios.get('/rooms.json').then(response => response.data)
			// this.incrementDbCounter('Fetch Rooms', rooms.size)

			// const rooms = await axios.get('/2019DeskSultan/ajax_lookup_project_task_rooms?project_id=' + this.projectId + '&task_id=' + this.taskId).then(response => response.data)

			let url = new URL(this.serviceDeskEndpoint + "/ajax_lookup_chat_room")
			url.searchParams.set('object_type', this.objectType)
			url.searchParams.set('object_id', this.objectId)
			url.searchParams.set('parent_object_type', this.parentObjectType)
			url.searchParams.set('parent_object_id', this.parentObjectId)
			const rooms = await axios.get(url, {withCredentials: true}).then(response => response.data)

// 			const rooms = 
// 			[{
// 				"roomId": this.objectType + "/" + this.objectId + "/"+ this.parentObjectType + "/" + this.parentObjectId,
// 				"roomName":"asdf",
// 				"avatar":"assets/imgs/people.png",
// 				"unreadCount":0,
// 				"index":0,
// 				"lastMessage":{},
// 				"users":[
// {
//         _id: 1,
//         username: 'Admin',
//         avatar: 'assets/imgs/doe.png',
//         status: {
//           state: 'online',
//           lastChanged: 'today, 14:30'
//         }
//       },
//       {
//         _id: 1234,
//         username: 'John Snow',
//         avatar: 'assets/imgs/snow.png',
//         status: {
//           state: 'offline',
//           lastChanged: '14 July, 20:00'
//         }
//       },
//       {
//         _id: 4321,
//         username: 'John Snow',
//         avatar: 'assets/imgs/snow.png',
//         status: {
//           state: 'offline',
//           lastChanged: '14 July, 20:00'
//         }
//       }
// 				],
// 				"typingUsers":[]
// 			}]
			// console.log(rooms);
			this.roomsLoaded = rooms.empty || rooms.length < this.roomsPerPage
			// console.log("fetchMoreRooms", this.roomsLoaded, rooms.empty, rooms.length, this.roomsPerPage)
			if (this.startRooms) this.endRooms = this.startRooms
			this.startRooms = rooms.length - 1

			const roomList = {}
			rooms.forEach(room => {
				roomList[room.id] = { ...room, users: room.users }
			})

			const formattedRooms = []

			Object.keys(roomList).forEach(key => {
				const room = roomList[key]
				// room.lastUpdated = new Date()

				const roomContacts = room.users.filter(
					user => user._id !== this.currentUserId
				)

				const roomAvatar = null

				formattedRooms.push({
					...room,
					roomId: room.roomId,
					avatar: roomAvatar,
					index: room.lastUpdated,
					lastMessage: {
						content: 'Room created',
						timestamp: this.formatTimestamp(
							new Date(room.lastUpdated),
							room.lastUpdated
						)
					}
				})
			})

			// console.log("before concat", formattedRooms, this.rooms);
			this.rooms = this.rooms.concat(formattedRooms)
		  	// console.log("WebSocket subscribing to " + this.rooms[0].roomId);
			// console.log(this.rooms);
			
			this.menuActions = rooms[0].menuActions;

		  	if (this.socket != null && this.socket.readyState == 1)
		  	{
			  	this.socket.send(JSON.stringify({"addTag" : this.rooms[0].roomId}))
		  	} else {
		  		setTimeout(() => this.socket.send(JSON.stringify({"addTag" : this.rooms[0].roomId})), 2000)
		  	}

			// console.log(rooms);
			formattedRooms.map(room => this.listenLastMessage(room))

			if (!this.rooms.length) {
				this.loadingRooms = false
				this.roomsLoadedCount = 0
			}

			// this.listenUsersOnlineStatus(formattedRooms)
			// this.listenRooms(query)
			// setTimeout(() => console.log('TOTAL', this.dbRequestCount), 2000)
		},

		listenLastMessage(room) {
			// console.log(this.serviceDeskEndpoint + "/ajax_lookup_chat_messages")
			let url = new URL(this.serviceDeskEndpoint + "/ajax_lookup_chat_messages")
			url.searchParams.set('object_type', this.objectType)
			url.searchParams.set('object_id', this.objectId)
			url.searchParams.set('parent_object_type', this.parentObjectType)
			url.searchParams.set('parent_object_id', this.parentObjectId)
			url.searchParams.set('start', this.startMessages)

			axios.get(url, {withCredentials: true}).then(response => {
				const messages = response.data
				// console.log("messages data", messages, this.selectedRoom, room.roomId, this.selectedRoom !== room.roomId)
				// this.incrementDbCounter('Fetch Room Messages', messages.size)
				// if (this.selectedRoom !== room.roomId) return
				// console.log("listenLastMessage 305 fired")
				messages.forEach(message => {
					message.timestamp = new Date(message.timestamp)
					const lastMessage = this.formatLastMessage(message)
					const roomIndex = this.rooms.findIndex(
						r => room.roomId === r.roomId
					)
					this.rooms[roomIndex].lastMessage = lastMessage
					this.rooms = [...this.rooms]
				})
				if (this.loadingLastMessageByRoom < this.rooms.length) {
					this.loadingLastMessageByRoom++

					if (this.loadingLastMessageByRoom === this.rooms.length) {
						this.loadingRooms = false
						this.roomsLoadedCount = this.rooms.length
					}
				}
			})

			// const listener = messagesRef(room.roomId)
			// 	.orderBy('timestamp', 'desc')
			// 	.limit(1)
			// 	.onSnapshot(messages => {
			// 		// this.incrementDbCounter('Listen Last Room Message', messages.size)
			// 		console.log("onSnapshot 305 fired")
			// 		messages.forEach(message => {
			// 			const lastMessage = this.formatLastMessage(message)
			// 			const roomIndex = this.rooms.findIndex(
			// 				r => room.roomId === r.roomId
			// 			)
			// 			this.rooms[roomIndex].lastMessage = lastMessage
			// 			this.rooms = [...this.rooms]
			// 		})
			// 		if (this.loadingLastMessageByRoom < this.rooms.length) {
			// 			this.loadingLastMessageByRoom++

			// 			if (this.loadingLastMessageByRoom === this.rooms.length) {
			// 				this.loadingRooms = false
			// 				this.roomsLoadedCount = this.rooms.length
			// 			}
			// 		}
			// 	})

			// this.roomsListeners.push(listener)
		},

		formatLastMessage(message) {
			if (!message.timestamp) return

			let content = message.content
			if (message.files?.length) {
				const file = message.files[0]
				content = `${file.name}.${file.extension || file.type}`
			}

			return {
				...message,
				...{
					content,
					timestamp: this.formatTimestamp(
						new Date(message.timestamp),
						message.timestamp
					),
					distributed: true,
					seen: message.sender_id === this.currentUserId ? message.seen : null,
					new:
						message.sender_id !== this.currentUserId &&
						(!message.seen || !message.seen[this.currentUserId])
				}
			}
		},

		formatTimestamp(date, timestamp) {
			const timestampFormat = isSameDay(date, new Date()) ? 'HH:mm' : 'DD/MM/YY'
			const result = parseTimestamp(timestamp, timestampFormat)
			return timestampFormat === 'HH:mm' ? `Today, ${result}` : result
		},

		fetchMessages({ room, options = {} }) {
			// console.log("fetchMessages emitted");
			this.$emit('show-demo-options', false)

			if (options.reset) {
				this.resetMessages()
				this.roomId = room.roomId
			}
			// console.log("startMessages/endMessages", this.startMessages, this.endMessages);

			if (this.endMessages && !this.startMessages) {
				return (this.messagesLoaded = true)
			}

			// let ref = messagesRef(room.roomId)

			// let query = ref.orderBy('timestamp', 'desc').limit(this.messagesPerPage)

			// if (this.startMessages) query = query.startAfter(this.startMessages)

			// this.selectedRoom = room.roomId

			// query.get().then(messages => {
			// 	// this.incrementDbCounter('Fetch Room Messages', messages.size)
			// 	if (this.selectedRoom !== room.roomId) return

			// 	if (messages.empty) this.messagesLoaded = true

			// 	if (this.startMessages) this.endMessages = this.startMessages
			// 	this.startMessages = messages.docs[messages.docs.length - 1]

			// 	let listenerQuery = ref.orderBy('timestamp')

			// 	if (this.startMessages) {
			// 		listenerQuery = listenerQuery.startAfter(this.startMessages)
			// 	}
			// 	if (this.endMessages) {
			// 		listenerQuery = listenerQuery.endAt(this.endMessages)
			// 	}

			// 	if (options.reset) this.messages = []

			// 	messages.forEach(message => {
			// 		const formattedMessage = this.formatMessage(room, message)
			// 		this.messages.unshift(formattedMessage)
			// 	})

			// 	const listener = listenerQuery.onSnapshot(snapshots => {
			// 		// this.incrementDbCounter('Listen Room Messages', snapshots.size)
			// 		this.listenMessages(snapshots, room)
			// 	})
			// 	this.listeners.push(listener)
			// })
			
			let url = new URL(this.serviceDeskEndpoint + "/ajax_lookup_chat_messages")
			url.searchParams.set('object_type', this.objectType)
			url.searchParams.set('object_id', this.objectId)
			url.searchParams.set('parent_object_type', this.parentObjectType)
			url.searchParams.set('parent_object_id', this.parentObjectId)
			url.searchParams.set('start', this.startMessages)

			axios.get(url, {withCredentials: true}).then(response => {
			// axios.get('/messages.json').then(response => {
				const messages = response.data
				// this.incrementDbCounter('Fetch Room Messages', messages.size)
				// if (this.selectedRoom !== room.roomId) return

				if (messages.length === 0) {
					return (this.messagesLoaded = true)
				}
				if (this.startMessages) this.endMessages = this.startMessages
				this.startMessages = messages[messages.length - 1].id
				// console.log("messages startMessage/messages/messages.length", this.startMessages, messages, messages.length)
				// let listenerQuery = ref.orderBy('timestamp')

				// if (this.startMessages) {
				// 	listenerQuery = listenerQuery.startAfter(this.startMessages)
				// }
				// if (this.endMessages) {
				// 	listenerQuery = listenerQuery.endAt(this.endMessages)
				// }

				if (options.reset) this.messages = []
				// console.log("roomusers", this.rooms[0].users)
				messages.forEach(message => {
					const formattedMessage = this.formatMessage(room, message)
					if (message.mentions.length > 0) {
						// this.rooms[0].users = [...message.mentions]
						message.mentions.forEach(mention => {
							const userIndex = this.rooms[0].users.findIndex(m => m._id === mention._id)
							if (userIndex === -1) {
								this.rooms[0].users = [...this.rooms[0].users, mention]
							}
						})
						// console.log("mentions ", message.mentions)
						// console.log("roomusers", this.rooms[0].users)
					}
					// if (message.mentions)
					this.messages.unshift(formattedMessage)
				})

				// const listener = listenerQuery.onSnapshot(snapshots => {
				// 	// this.incrementDbCounter('Listen Room Messages', snapshots.size)
				// 	this.listenMessages(snapshots, room)
				// })
				// this.listeners.push(listener)

			})
			// query.get().then(messages => {
			// 	// this.incrementDbCounter('Fetch Room Messages', messages.size)
			// 	if (this.selectedRoom !== room.roomId) return

			// 	if (messages.empty) this.messagesLoaded = true

			// this.messages = response.data
			// console.log(response)

		},

		listenMessages(messages, room) {
			messages.forEach(message => {
				const formattedMessage = this.formatMessage(room, message)
				const messageIndex = this.messages.findIndex(m => m._id === message.id)

				if (messageIndex === -1) {
					this.messages = this.messages.concat([formattedMessage])
				} else {
					this.messages[messageIndex] = formattedMessage
					this.messages = [...this.messages]
				}

				if (message.mentions.length > 0) {
					// this.rooms[0].users = [...message.mentions]
					message.mentions.forEach(mention => {
						const userIndex = this.rooms[0].users.findIndex(m => m._id === mention._id)
						if (userIndex === -1) {
							this.rooms[0].users = [...this.rooms[0].users, mention]
						}
					})
					// console.log("mentions ", message.mentions)
					// console.log("roomusers", this.rooms[0].users)
				}

				this.markMessagesSeen(room, message)
			})
		},

		markMessagesSeen(room, message) {
			if (
				message.sender_id !== this.currentUserId &&
				(!message.seen || !message.seen[this.currentUserId])
			) {
				// messagesRef(room.roomId)
				// 	.doc(message.id)
				// 	.update({
				// 		[`seen.${this.currentUserId}`]: new Date()
				// 	})
			}
		},

		formatMessage(room, message) {
			const senderUser = room.users.find(
				user => message.sender_id === user._id
			)
			// console.log(room.users);

			const timestamp = new Date(message.timestamp)
			// const timestamp = new Date()
			// console.log(timestamp);

			const formattedMessage = {
				...message,
				...{
					senderId: message.sender_id,
					_id: message.id,
					seconds: timestamp,
					timestamp: parseTimestamp(timestamp, 'HH:mm'),
					date: parseTimestamp(timestamp, 'DD MMMM YYYY'),
					username: senderUser ? senderUser.username : null,
					avatar: senderUser ? senderUser.avatar : null,
					// avatar: senderUser ? "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAIAAAACUFjqAAAABnRSTlMAAAAAAABupgeRAAAACXBIWXMAAArrAAAK6wGCiw1aAAAAtElEQVR42mNgIB4wMTIwMWKTYGNlqIjlOrva9dxq18o4bnZWqDgzhCqPYclJ9RCTMxAQkTDS5Gb7c/" : "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAIAAAACUFjqAAAABnRSTlMAAAAAAABupgeRAAAACXBIWXMAAArrAAAK6wGCiw1aAAAAtElEQVR42mNgIB4wMTIwMWKTYGNlqIjlOrva9dxq18o4bnZWqDgzhCqPYclJ9RCTMxAQkTDS5Gb7c/",
					distributed: true
				}
			}

			if (message.replyMessage && Object.keys(message.replyMessage).length !== 0) {
				// console.log("replyMessage!", Object.keys(message.replyMessage))
				formattedMessage.replyMessage = {
					...message.replyMessage,
					...{
						senderId: message.replyMessage.sender_id
					}
				}
			}

			return formattedMessage
		},

		async sendMessage({ content, roomId, files, replyMessage }) {
			// console.log("sendMessage", replyMessage);
			let message = new FormData()

			message.append('object_type', this.objectType)
			message.append('object_id', this.objectId)
			message.append('parent_object_type', this.parentObjectType)
			message.append('parent_object_id', this.parentObjectId)
			message.append('sender_id', this.currentUserId)
			message.append('content', content)
			message.append('toTag', roomId)
			message.append('timestamp', new Date())
			// const message = {
			// 	project_id: this.projectId,
			// 	task_id: this.taskId,
			// 	sender_id: this.currentUserId,
			// 	content,
			// 	toTag: roomId,
			// 	timestamp: new Date()
			// }

			if (files) {
				files.forEach(file => {
					// console.log(file)
					// message.append('file', file.blob)
					message.append('file', file.blob, file.name + "." + (file.extension || file.type))					
					// message.append('file_name', file.name)
					// message.append('file_size', file.size)
					// message.append('file_type', file.type)
					// message.append('file_extension', file.extension || file.type)
					// message.append('file_blob', file.blob)
					// // message.append('file_url', file.url || file.localUrl)

					// if (file.audio) {
					// 	messageFile.audio = true
					// 	messageFile.duration = file.duration
					// }
				})
			}

			if (replyMessage) {
				message.append('reply_to_id', replyMessage._id)
				message.append('reply_to_content', replyMessage.content)
				// if (replyMessage.files) {
				// 	message.append('replyMessage.files',  replyMessage.files)
				// }
			}
			var self = this

			let config = {
				header : {
					'Content-Type' : 'multipart/form-data'
				},
				withCredentials: true
			}

			// axios.post(URL, data, config).then(response => {
			// 	console.log('response', response)
			// }).catch(error => {
			// 	console.log('error', error)
			// })

			// await axios.post('/2019DeskSultan/project_task_message_add', message)
			await axios.post(this.serviceDeskEndpoint + "/chat_message_add", message, config)
				.then(function (response) {
					if (response.data.success)
					{
						// console.log("succesfully saved a message to backend. sending WebSocket message to force subscribers update");	
					  	self.socket.send(JSON.stringify({"toTag" : roomId}))
					}
				})
				.catch(function (error) {
					console.log("error saving a new message to backend");	
				});

			// const { id } = await messagesRef(roomId).add(message)

			// if (files) {
			// 	for (let index = 0; index < files.length; index++) {
			// 		await this.uploadFile({ file: files[index], messageId: id, roomId })
			// 	}
			// }

			// roomsRef.doc(roomId).update({ lastUpdated: new Date() })
		},

		async editMessage({ messageId, newContent, roomId, files }) {

			let message = new FormData()

			message.append('edit_message_id', messageId)
			message.append('object_type', this.objectType)
			message.append('object_id', this.objectId)
			message.append('parent_object_type', this.parentObjectType)
			message.append('parent_object_id', this.parentObjectId)
			message.append('sender_id', this.currentUserId)
			message.append('content', newContent)
			message.append('toTag', roomId)
			message.append('timestamp', new Date())
			message.append('edited', new Date())

			if (files) {
				files.forEach(file => {
					// console.log(file)
					// message.append('file', file.blob)
					message.append('file', file.blob, file.name + "." + (file.extension || file.type))					
				})
			}

			var self = this

			let config = {
				header : {
					'Content-Type' : 'multipart/form-data'
				},
				withCredentials: true
			}

			await axios.post(this.serviceDeskEndpoint + "/chat_message_add", message, config)
				.then(function (response) {
					if (response.data.success)
					{
						// console.log("succesfully saved a message to backend. sending WebSocket message to force subscribers update");	
					  	self.socket.send(JSON.stringify({"toTag" : roomId}))
					}
				})
				.catch(function (error) {
					console.log("error saving a new message to backend");	
				});


		},

		async deleteMessage({ message, roomId }) {
			// console.log(message)
			let message_body = new FormData()

			message_body.append('edit_message_id', message._id)
			message_body.append('object_type', this.objectType)
			message_body.append('object_id', this.objectId)
			message_body.append('parent_object_type', this.parentObjectType)
			message_body.append('parent_object_id', this.parentObjectId)
			message_body.append('sender_id', this.currentUserId)
			message_body.append('delete', true)
			message_body.append('toTag', roomId)
			message_body.append('timestamp', new Date())
			message_body.append('edited', new Date())

			var self = this

			let config = {
				header : {
					'Content-Type' : 'multipart/form-data'
				},
				withCredentials: true
			}

			await axios.post(this.serviceDeskEndpoint + "/chat_message_add", message_body, config)
				.then(function (response) {
					if (response.data.success)
					{
						// console.log("succesfully deleted a message on the backend. sending WebSocket message to force subscribers update");	
					  	self.socket.send(JSON.stringify({"toTag" : roomId}))
					}
				})
				.catch(function (error) {
					console.log("error deleteing  message on the backend");	
				});

			// await messagesRef(roomId)
			// 	.doc(message._id)
			// 	.update({ deleted: new Date() })

			// const { files } = message

			// if (files) {
			// 	files.forEach(file => {
			// 		const deleteFileRef = filesRef
			// 			.child(this.currentUserId)
			// 			.child(message._id)
			// 			.child(`${file.name}.${file.extension || file.type}`)

			// 		deleteFileRef.delete()
			// 	})
			// }
		},

		async uploadFile({ file, messageId, roomId }) {
			let type = file.extension || file.type
			if (type === 'svg' || type === 'pdf') {
				type = file.type
			}

			const uploadFileRef = filesRef
				.child(this.currentUserId)
				.child(messageId)
				.child(`${file.name}.${type}`)

			await uploadFileRef.put(file.blob, { contentType: type })
			const url = await uploadFileRef.getDownloadURL()

			const messageDoc = await messagesRef(roomId)
				.doc(messageId)
				.get()

			const files = messageDoc.data().files

			files.forEach(f => {
				if (f.url === file.localUrl) {
					f.url = url
				}
			})

			await messagesRef(roomId)
				.doc(messageId)
				.update({ files })
		},

		formattedFiles(files) {
			const formattedFiles = []

			files.forEach(file => {
				// console.log(file)
				const messageFile = {
					name: file.name,
					size: file.size,
					type: file.type,
					extension: file.extension || file.type,
					url: file.url || file.localUrl,
					blob: file.blob
				}

				if (file.audio) {
					messageFile.audio = true
					messageFile.duration = file.duration
				}

				formattedFiles.push(messageFile)
			})

			return formattedFiles
		},

		openFile({ file }) {
			// console.log(file);
			openAttachment(file.file.url, file.file.name);
			// window.open(file.file.url, '_blank')
		},

		async openUserTag({ user }) {
			// console.log("openUserTag emitted");
			let roomId

			this.rooms.forEach(room => {
				if (room.users.length === 2) {
					const userId1 = room.users[0]._id
					const userId2 = room.users[1]._id
					if (
						(userId1 === user._id || userId1 === this.currentUserId) &&
						(userId2 === user._id || userId2 === this.currentUserId)
					) {
						roomId = room.roomId
					}
				}
			})

			if (roomId) return (this.roomId = roomId)

			const query1 = await roomsRef
				.where('users', '==', [this.currentUserId, user._id])
				.get()

			if (!query1.empty) {
				return this.loadRoom(query1)
			}

			let query2 = await roomsRef
				.where('users', '==', [user._id, this.currentUserId])
				.get()

			if (!query2.empty) {
				return this.loadRoom(query2)
			}

			const room = await roomsRef.add({
				users: [user._id, this.currentUserId],
				lastUpdated: new Date()
			})

			this.roomId = room.id
			this.fetchRooms()
		},

		async loadRoom(query) {
			query.forEach(async room => {
				if (this.loadingRooms) return
				await roomsRef.doc(room.id).update({ lastUpdated: new Date() })
				this.roomId = room.id
				this.fetchRooms()
			})
			// console.log("loadRoom emitted");
			// if (this.loadingRooms) return
			// this.roomId = 1
			// this.fetchRooms()
		},

		menuActionHandler({ action, roomId }) {
			switch (action.name) {
				case 'inviteUser':
					return this.inviteUser(roomId)
				case 'removeUser':
					return this.removeUser(roomId)
				case 'deleteRoom':
					return this.deleteRoom(roomId)
			}
		},

		async sendMessageReaction({ reaction, remove, messageId, roomId }) {
			let message = new FormData()

			message.append('message_id', messageId)
			message.append('reaction', `${reaction.unicode}`)
			message.append('remove', typeof remove != 'undefined')

			var self = this

			let config = {
				header : {
					'Content-Type' : 'multipart/form-data'
				},
				withCredentials: true
			}

			await axios.post(this.serviceDeskEndpoint + "/chat_message_reaction_add", message, config)
				.then(function (response) {
					if (response.data.success)
					{
						// console.log("succesfully saved a message reaction to backend. sending WebSocket message to force subscribers update");	
					  	self.socket.send(JSON.stringify({"toTag" : roomId}))
					}
				})
				.catch(function (error) {
					console.log("error saving a new message reaction to backend");	
				});
		},

		typingMessage({ message, roomId }) {
			return
			if (!roomId) return

			if (message?.length > 1) {
				return (this.typingMessageCache = message)
			}

			if (message?.length === 1 && this.typingMessageCache) {
				return (this.typingMessageCache = message)
			}

			this.typingMessageCache = message

			const dbAction = message
				? firebase.firestore.FieldValue.arrayUnion(this.currentUserId)
				: firebase.firestore.FieldValue.arrayRemove(this.currentUserId)

			roomsRef.doc(roomId).update({
				typingUsers: dbAction
			})
		},

		async listenRooms(query) {
			const listener = query.onSnapshot(rooms => {
				// this.incrementDbCounter('Listen Rooms Typing Users', rooms.size)
				rooms.forEach(room => {
					const foundRoom = this.rooms.find(r => r.roomId === room.id)
					if (foundRoom) {
						foundRoom.typingUsers = room.data().typingUsers
						foundRoom.index = room.data().lastUpdated
					}
				})
			})
			this.roomsListeners.push(listener)
		},

		listenUsersOnlineStatus(rooms) {
			rooms.map(room => {
				room.users.map(user => {
					const listener = firebase
						.database()
						.ref('/status/' + user._id)
						.on('value', snapshot => {
							if (!snapshot || !snapshot.val()) return

							const lastChanged = this.formatTimestamp(
								new Date(snapshot.val().lastChanged),
								new Date(snapshot.val().lastChanged)
							)

							user.status = { ...snapshot.val(), lastChanged }

							const roomIndex = this.rooms.findIndex(
								r => room.roomId === r.roomId
							)

							this.rooms[roomIndex] = room
							this.rooms = [...this.rooms]
						})
					this.roomsListeners.push(listener)
				})
			})
		},

		addRoom() {
			this.resetForms()
			this.addNewRoom = true
		},

		async createRoom() {
			this.disableForm = true

			const { id } = await usersRef.add({ username: this.addRoomUsername })
			await usersRef.doc(id).update({ _id: id })
			await roomsRef.add({
				users: [id, this.currentUserId],
				lastUpdated: new Date()
			})

			this.addNewRoom = false
			this.addRoomUsername = ''
			this.fetchRooms()
		},

		inviteUser(roomId) {
			this.resetForms()
			this.inviteRoomId = roomId
		},

		async addRoomUser() {
			this.disableForm = true

			const { id } = await usersRef.add({ username: this.invitedUsername })
			await usersRef.doc(id).update({ _id: id })

			await roomsRef
				.doc(this.inviteRoomId)
				.update({ users: firebase.firestore.FieldValue.arrayUnion(id) })

			this.inviteRoomId = null
			this.invitedUsername = ''
			this.fetchRooms()
		},

		removeUser(roomId) {
			this.resetForms()
			this.removeRoomId = roomId
			this.removeUsers = this.rooms.find(room => room.roomId === roomId).users
		},

		async deleteRoomUser() {
			this.disableForm = true

			await roomsRef.doc(this.removeRoomId).update({
				users: firebase.firestore.FieldValue.arrayRemove(this.removeUserId)
			})

			this.removeRoomId = null
			this.removeUserId = ''
			this.fetchRooms()
		},

		async deleteRoom(roomId) {
			const room = this.rooms.find(r => r.roomId === roomId)
			if (
				room.users.find(user => user._id === 'SGmFnBZB4xxMv9V4CVlW') ||
				room.users.find(user => user._id === '6jMsIXUrBHBj7o2cRlau')
			) {
				return alert('Nope, for demo purposes you cannot delete this room')
			}

			const ref = messagesRef(roomId)

			ref.get().then(res => {
				if (res.empty) return
				res.docs.map(doc => ref.doc(doc.id).delete())
			})

			await roomsRef.doc(roomId).delete()

			this.fetchRooms()
		},

		resetForms() {
			this.disableForm = false
			this.addNewRoom = null
			this.addRoomUsername = ''
			this.inviteRoomId = null
			this.invitedUsername = ''
			this.removeRoomId = null
			this.removeUserId = ''
		}

		// ,incrementDbCounter(type, size) {
		// 	size = size || 1
		// 	this.dbRequestCount += size
		// 	console.log(type, size)
		// }
	}
}
</script>

<style lang="scss" scoped>
.window-container {
	width: 100%;
}

.window-mobile {
	form {
		padding: 0 10px 10px;
	}
}

form {
	padding-bottom: 20px;
}

input {
	padding: 5px;
	width: 140px;
	height: 21px;
	border-radius: 4px;
	border: 1px solid #d2d6da;
	outline: none;
	font-size: 14px;
	vertical-align: middle;

	&::placeholder {
		color: #9ca6af;
	}
}

button {
	background: #1976d2;
	color: #fff;
	outline: none;
	cursor: pointer;
	border-radius: 4px;
	padding: 8px 12px;
	margin-left: 10px;
	border: none;
	font-size: 14px;
	transition: 0.3s;
	vertical-align: middle;

	&:hover {
		opacity: 0.8;
	}

	&:active {
		opacity: 0.6;
	}

	&:disabled {
		cursor: initial;
		background: #c6c9cc;
		opacity: 0.6;
	}
}

.button-cancel {
	color: #a8aeb3;
	background: none;
	margin-left: 5px;
}

select {
	vertical-align: middle;
	height: 33px;
	width: 152px;
	font-size: 13px;
	margin: 0 !important;
}
</style>
