<template>
    <div class="container">
        <!-- <input type="file" @change="upload($event)"> -->
        <!-- <button @click="show">open</button> -->
        <!-- Modal -->
                        <clipper-fixed class="my-clipper" ref="clipper" :src="imgURL" :handle-zoom-event="handleZoom" :round="isRound">
                            <div class="placeholder" slot="placeholder">No image</div>
                        </clipper-fixed>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck1" v-model="isRound">
                            <label class="custom-control-label" for="customCheck1">Round</label>
                        </div>
                        <clipper-range
                          class="range"
                          :min="0.1"
                          :max="2"
                          v-model="scale"
                        ></clipper-range>
    </div>

</template>

<script>
if (process.env["NODE_ENV"] === "development") { 
    require('./assets/css/app_theme.css')
    // require('bootstrap')
    global.jQuery = require('jquery')
    global.$ = global.jQuery
    require('bootstrap')
}
import  './assets/main.css'

export default {
    name: 'App',
    components: {
    },
    data() {
        return {
            scale: 1,
            imgURL: '',
            resultURL: '',
            isRound: false,
            wPixel: 0
        }
    },
    methods: {
        show () {
            $('#clipModal').modal()
        },
        upload: function(e){
            if (e.target.files.length !== 0) {
                if(this.imgURL) URL.revokeObjectURL(this.imgURL)
                this.imgURL = window.URL.createObjectURL(e.target.files[0])
                this.show()
            }
        },
        getResult: function () {
            let canvas
            if (this.wPixel > 0)
            {
                canvas = this.$refs.clipper.clip({ wPixel: this.wPixel });//call component's clip method
            } else {
                canvas = this.$refs.clipper.clip();//call component's clip method
            }
           
            // this.resultURL = canvas.toDataURL("image/jpeg", 1);//canvas->image
            // console.log(canvas.toDataURL("image/jpeg", 1))
            // $("#clipper_result").attr('src', canvas.toDataURL("image/jpeg", 1));//canvas->image
            $('#clipper_preview').attr('src', canvas.toDataURL("image/jpeg", 1));
            $('#clipper_preview').closest("div.row").removeClass("d-none");//canvas->image
            $('#image_saved').addClass("d-none");//canvas->image
            canvas.toBlob(function(blob) {
                let fileInputElement = document.getElementById('clipper_result');
                // Here load or generate data
                let data = new Blob();
                let file = new File([blob], "image.jpg",{type:"image/jpeg", lastModified:new Date().getTime()});
                let container = new DataTransfer();
                container.items.add(file);
                fileInputElement.files = container.files;
                // console.log(fileInputElement.files);
            }, 'image/jpeg', 0.8);
            $('#clipModal').modal("hide")
            
        },
        handleZoom(scale) {
            if (scale) {
                this.scale = scale;
                return scale;                
            }
        },
    },
    watch: {
        scale(val) {
            if (val) {
                this.$refs.clipper.setWH$.next(+val);
            }
        },
    },
    mounted () {
        let self = this
        $('#clipModal').on('shown.bs.modal', function () {
          self.scale = 1
        })      
    }

}

</script>