<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>clipper app</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but vue-advanced-chat doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
  <input type="file" name="upload" onchange="window.clipper_app.$children[0].upload(event)"/>

  <img id="clipper_result" class="result" src="" alt="">

        <div class="modal fade modal-xl" id="clipModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header whtbg">
                        <h5 class="modal-title boldFont large-font" id="exampleModalLabel">Clip the image</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                      <div id="clipper_app"></div>
                      <ul>
                        <li class="text-center pt-15 pb-15">
                            <button type="button" class="btn btn-outline-primary customBtn lg waves-effect " data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary-new customBtn lg waves-effect" role="button" onclick="window.clipper_app.$children[0].getResult()">Apply</button>
                        </li>
                    </ul>
                  </div>
              </div>        
          </div>
        </div>
    <!-- built files will be auto injected -->
  </body>
</html>
